header {
    margin: 0;
    color: #D3C0B2;
    background-color: #59231B;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: rgb(115, 172, 115);
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }



   footer {
    color: #D3C0B2;
    background-color: rgb(78, 169, 230);
    width: 100%;
    height: 80px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100%;
}

.header-title {
    padding-right: 1000px;
    font-size: 62px;
    
}

.info {
    padding-right: 100px;
    font-size: 24px;
}

.search {
    padding-left: 100px;
    font-size: 24px;
}

.lungs {
width: 76.67px;
height: 80.27px;
top: 35px;
left: 31px;
border: 1px;
display: flex;
}

.headline {
    text-align: center;
    margin-top: 50px;
    font-size: 62px;
}

#results-box {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid #59231B;
    border-radius: 25px;
    background-color: #59231B;
    width: 20%;
    padding-left: 5px;
}

